.section5 {
  background-color: #f8f9fa;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.section5-title {
  padding: 40px 0;
  font-size: 38px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card-region-name {
  font-size: 1px;
  color: #212529;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  line-height: 1.5;
}

.cards-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  width: 82%;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.popular {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ingi {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
}

.hr {
  border: 0;
  height: 1px;
  background: rgb(241, 237, 237);
}
