.section4 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.text-section4 {
  flex-direction: column;
}

.section4_picture {
  width: 526px;
  height: 735px;
  padding: 0px 100px;
}
