.NearbyStore2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-section3 {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.text-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrap button {
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 20px;
}
.und {
  margin-top: 100px;
  font-size: 32px;
}

.bar1button {
  font-size: 18px;
  font-weight: bold;
}
.sma {
  font-size: 16px;
  font-weight: lighter;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.heer{
  clear: left;
}
