.job2 {
  background-color: #ffffff;
  width: 100%;
  height: fit-content;
  margin-top: 37px;
  display: flex;
}

.item-img {
  height: 108px;
  width: 125px;
  border-radius: 10%;
  float: left;
  margin-right: 15px;
}

.itembox {
  display: flex;
  flex-direction: row;
}
.graytext {
  color: gray;
}
.money {
  margin-top: 2px;
  font-weight: bold;
}

.bar1 {
  background-color: #009ceb1a;
  width: 711px;
  height: 64px;
  padding: 28px 24px 28px 33px;
  margin: 44px 0px 40px;
}
.barimg1 {
  height: 64px;
  width: 54px;
  float: left;
  text-align: left;
}
.bar1text {
  height: 52px;
  width: 301.06px;
  font-weight: bolder;
  margin-left: 25px;
  font-size: 20px;
  margin-top: 3px;
  line-height: normal;
  float: left;
}

.bar1button {
  background-color: #ff6616;
  height: 24px;
  width: 120px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  padding: 8px 10px;
  padding-right: 0px;
  display: flex;
  margin-left: 570px;
  border-radius: 5px;
  margin-top: 10px;
}

.bar2button {
  background-color: #ff6616;
  height: 24px;
  width: 120px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  padding: 8px 10px;
  padding-right: 0px;
  padding-left: 10px;
  display: flex;
  margin-left: 570px;
  border-radius: 5px;
  margin-top: 10px;
}

.bar2 {
  background-color: #ff6f0f24;
  width: 711px;
  height: 64px;
  padding: 28px 24px 28px 33px;
  margin: 44px 0px 40px;
}

.footer1 {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  clear: left;
}

.job-hr {
  border: 0;
  height: 1px;
  background: rgb(241, 237, 237);
}

.item-container {
  display: flex;
  flex-direction: row;
}

.text-section2 {
  color: black;
  display: flex;
  padding-right: 150px;
  padding-left: 240px;
  padding-top: 30px;
}

.item-wrap {
}
